<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Healthy | Get Started</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

  <style>

nav{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:rgb(180, 184, 184);
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
.navbar-brand{
 padding-left: 20px;
 color: #fff; 
 font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
  </style>

</head>

<body>
  <form id="form1">
    
    <div id="abc">
      <nav>
          <a class="navbar-brand" ><b>HEALTHY</b></a>
          <ul>
           
              <li><a href="/signup">Register</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/disindex">About</a></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
      </nav>
  

      <main role="main">

        <div class="jumbotron">
          <div class="container">
            <h1 class="display-4">Hello! Lets Get Started with Healthy</h1>
            <p>Welcome to Healthy!, a risk assessment system for medical institutions to generate risk assessments
              for their patients and check their insurance cost check .Our aim is to creat a strong relationships with medical
              institutions to help them generate their assessments with ease and maximum efficiency thus saving the
              organization's valuable time.
              Click below to learn about the diseases that Healthy is capable of assessing.</p>
            <p><a class="btn btn-primary btn-lg" href="/disindex" role="button">Get Started &raquo;</a></p>
          </div>
        </div>

        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <h2><a href="/breastcancer">1.Cancer Prediction</a></h2>
              <p>Navigate to the "Cancer" section and add the corresponding details and click on predict to learn
                whether the patient is at the risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2><a href="/diabetes">2.Diabetes Prediction</a></h2>
              <p>Navigate to the "Diabetes" section and add the corresponding details and click on predict to learn
                whether the patient is at the risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2><a href="/heart">2.Heart Disease</a></h2>
              <p>Navigate to the "Heart Disease" section and add the corresponding details and click on predict to learn
                whether the patient is at the risk of this illness/disease.</p>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <h2><a href="/kidney">3.Kidney Disease</a></h2>
              <p>Navigate to the "Kidney Disease" section and add the corresponding details and click on predict to
                learn whether the patient is at the risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2><a href="/liver">4.Liver Disease</a></h2>
              <p>Navigate to the "Liver Disease" section and add the corresponding details and click on predict to learn
                whether the patient is at the risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2><a href="/disindex">5.Disease Index</a></h2>
              <p>Navigate to the "Disease Index" section and gain in-depth information about each of these diseases.</p>

            </div>
          </div>
        </div>
        <hr>
        </div>
      </main>

      <footer class="container">
        <p>&copy;healthwebsite. All Rights Reserved</p>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
      <script src="../assets/dist/js/bootstrap.bundle.js"></script>

  </form>
</body>

</html>
