
    {% extends 'base.html' %}

    {% block testbody %}

    <h1 style="text-align:center;">Heart Disease Prediction</h1>
    <h5 style="text-align:center;">Please enter the patient details</h5>

    <form action="{{ url_for('predictheart')}}" method="post" class="form-inline">
        <fieldset>
            <div class="tabcontent" id="new">

                <div class="form-group">
                    <label for="age">Age in Years</label>
                    <input class="form-control" type="number" name="age" placeholder="eg. 34" required="required"/>
                 </div>
                  <div class="form-group">
                    <label for="trestbps">Trest Bps</label>
                    <input class="form-control" type="number" name="trestbps" placeholder="trestbps" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="chol">Cholesterol</label>
                    <input class="form-control" type="number" name="chol" placeholder="chol" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="thalach">Thalach</label>
                    <input class="form-control" type="number" name="thalach" placeholder="thalach" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="oldpeak">Old Peak</label>
                    <input class="form-control" type="number" name="oldpeak" placeholder="oldpeak" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="sex_0">Sex_0</label>
                    <input class="form-control" type="number" name="sex_0" placeholder="sex_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="sex_1">Sex_1</label>
                    <input class="form-control" type="number" name="sex_1" placeholder="sex_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CP_0">CP_0</label>
                    <input class="form-control" type="number" name="CP_0" placeholder="CP_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CP_1">CP_1</label>
                    <input class="form-control" type="number" name="CP_1" placeholder="CP_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CP_2">CP_2</label>
                    <input class="form-control" type="number" name="CP_2" placeholder="CP_2" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CP_3">CP_3</label>
                    <input class="form-control" type="number" name="CP_3" placeholder="CP_3" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="fbs_0">FBS_0</label>
                    <input class="form-control" type="number" name="FBS_0" placeholder="FBS_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="restecg_0">RESTECG_0</label>
                    <input class="form-control" type="number" name="restecg_0" placeholder="restecg_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="restecg_1">RESTECG_1</label>
                    <input class="form-control" type="number" name="restecg_1" placeholder="restecg_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="restecg_2">RESTECG_2</label>
                    <input class="form-control" type="number" name="restecg_2" placeholder="restecg_2" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="exang_0">EXANG_0</label>
                    <input class="form-control" type="number" name="EXANG_0" placeholder="EXANG_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="exang_1">EXANG_1</label>
                    <input class="form-control" type="number" name="EXANG_1" placeholder="EXANG_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="slope_0">SLOPE_0</label>
                    <input class="form-control" type="number" name="SLOPE_0" placeholder="SLOPE_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="slope_1">SLOPE_1</label>
                    <input class="form-control" type="number" name="SLOPE_1" placeholder="SLOPE_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="slope_2">SLOPE_2</label>
                    <input class="form-control" type="number" name="SLOPE_2" placeholder="SLOPE_2" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CA_0">CA_0</label>
                    <input class="form-control" type="number" name="CA_0" placeholder="CA_0" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CA_1">CA_1</label>
                    <input class="form-control" type="number" name="CA_1" placeholder="CA_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="CA_2">CA_2</label>
                    <input class="form-control" type="number" name="CA_2" placeholder="CA_2" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="THAL_1">THAL_1</label>
                    <input class="form-control" type="number" name="THAL_1" placeholder="THAL_1" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="THAL_2">THAL_2</label>
                    <input class="form-control" type="number" name="THAL_2" placeholder="THAL_2" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="THAL_3">THAL_3</label>
                    <input class="form-control" type="number" name="THAL_3" placeholder="THAL_3" required="required"/>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary btn-lg">Predict</button>

            </div>
        </fieldset>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock testbody %}
