

    {% extends 'base.html' %}
    {% block testbody %}

    <h1 style="text-align:center;">Liver Disease Prediction</h1>
    <h5 style="text-align:center;">Please enter the patient details</h5>
    <form action="{{ url_for('predictliver')}}" method="post" class="form-inline">
        <fieldset>
          <div class="tabcontent" id="new">
              <div class="form-group">
                <label for="Total Bilirubin">Total Bilirubin</label>
                <input class="form-control" type="number" id="Total Bilirubin" name="Total Bilirubin" required="required" placeholder="Enter the Total Bilirubin">
              </div>
              <div class="form-group">
                <label for="Direct_Bilirubin">Direct Bilirubin</label>
                <input class="form-control" type="number" step="any" id="Direct_Bilirubin" name="Direct_Bilirubin" required="required" placeholder="Enter the Direct_Bilirubin">
              </div>
              <div class="form-group">
                <label for="Alkaline_Phosphotase">Alkaline Phosphotase</label>
                <input class="form-control" type="number" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase" required="required" placeholder="Enter the Alkaline Phosphotase">
              </div>
              <div class="form-group">
                <label for="Alamine_Aminotransferase">Alamine Aminotransferase</label>
                <input class="form-control" type="number" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase" required="required" placeholder="Enter the Alamine Aminotransferase">
              </div>
              <div class="form-group">
                <label for="Total_Protiens">Total Protiens</label>
                <input class="form-control" type="number" id="Total_Protiens" name="Total_Protiens" required="required" placeholder="Enter the Total Protiens">
              </div>
              <div class="form-group">
                <label for="Albumin">Albumin</label>
                <input class="form-control" type="number" id="Albumin" name="Albumin" required="required" placeholder="Enter the Albumin">
              </div>
              <div class="form-group">
                <label for="Albumin_and_Globulin_Ratio">Albumin and Globulin Ratio</label>
                <input class="form-control" type="number" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio" required="required" placeholder="Enter the Albumin and Globulin Ratio">
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary btn-lg">Predict</button>
        </div>
      </fieldset>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock testbody %}