{% extends 'base.html' %}

{% block testbody %}
<h1 style="text-align:center;">Prostate Cancer Prediction</h1>
<h5 style="text-align:center;">Please enter the patient details</h5>
<form action="{{ url_for('prostatepredict')}}" method="post" class="form-inline">
    <fieldset>
        <div class="tabcontent" id="new">
            <div class="form-group">
                <label for="radius">Radius </label>
                <input type="text" class="form-control" name="radius" required="required">
            </div>
            <div class="form-group">
                <label for="texture">Texture</label>
                <input type="text" class="form-control" name="texture" required="required">
            </div>
            <div class="form-group">
                <label for="perimeter">Perimeter</label>
                <input type="text" class="form-control" name="perimeter" required="required" />
            </div>
            <div class="form-group">
                <label for="area">Area</label>
                <input type="text" class="form-control" name="area" required="required" />
            </div>
            <div class="form-group">
                <label for="smoothness">Smoothness</label>
                <input type="text" class="form-control" name="smoothness" required="required" />
            </div>
            <div class="form-group">
                <label for="compactness">Compactness</label>
                <input type="text" class="form-control" name="compactness" required="required" />
            </div>
            <div class="form-group">
                <label for="symmetry">Symmetry</label>
                <input type="text" class="form-control" name="symmetry" required="required" />
            </div>
            <div class="form-group">
                <label for="fractal_dimension">Fractal Dimension</label>
                <input type="text" class="form-control" name="fractal_dimension" required="required" />
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                type="submit" class="btn btn-primary btn-lg">Predict</button>
        </div>
    </fieldset>
</form>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

{% endblock testbody %}